body {
  margin: auto;
  max-width:420px;
  background-color: #FFF;
  font-family: sans-serif;
}
#JobsAppContainer .header {
  position: relative;
}
#JobsAppContainer .header input {
  padding: 5px;
  font-size: 12px;
  width: 300px;
  margin-left:auto;
  border: 2px solid #FFF;
}
#JobsAppContainer .header input[name^=time_] {
  width:152px;
}
#JobsAppContainer .header input[name=name] {
  width:336px;
}
#JobsAppContainer .header > form > button {
  float:right;
  padding: 5px 10px;
  font-size: 12px;
/*  margin: 10px;*/
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
#JobsAppContainer .header > form > button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
#JobsAppContainer h3, #JobsAppContainer h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 4px;
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
}
#JobsAppContainer .header h4 {
  margin-top:0;
  font-style: italic;
}

#JobsAppContainer .list {
  width:100%;
  padding:0;
  margin:0;
}
#JobsAppContainer .list ul {
  -webkit-padding-start: 0;
  border-color: inherit;
}
#JobsAppContainer .list > ul > li {
  list-style: none;
  border:1px solid grey;
  border-color: inherit;
  border-radius: 0;
  padding:8px;
  position: relative;
}
#JobsAppContainer .list > ul > li:first-child{
  border-radius: 8px 8px 0 0;
  background-color: #CFF;
}
#JobsAppContainer .list > ul > li:last-child{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#JobsAppContainer .list.positions > ul > li >  h3 > span:first-child + span {
  float:right;
  padding-right:1.5em;
}
#JobsAppContainer .list.positions > ul > li >  h3 > span:first-child + span::before {
  content: '<';
}
#JobsAppContainer .list.positions > ul > li >  h3 > span:first-child + span::after {
  content: '>';
}
#JobsAppContainer .list.shifts > ul > li > h3 > span:first-child + span::before {
  content: ' - ';
}
#JobsAppContainer .list > ul > li > button {
  position:absolute;
  right:6px;
  top:8px;
}
#JobsAppContainer .list > ul > li > button {
  padding: 3px;
  font-size: 8px;
  margin: 3px;
  background-color: #FF0033;
  color: #FFF;
  border: 2px solid #FF0033;
}
#JobsAppContainer .list > ul > li > button:hover {
  background-color: #991300;
  border: 2px solid #991300;
  cursor: pointer;
}
.list {
  border-color: #AAEEFF;
}
.list .list {
  border-color: #66CCFF;
}
.list .list .list {
  border-color: #33AAFF;
}
